body {
  margin: 0;
  padding: 0;
}
.navbar-container {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main-section {
  display: flex;
  padding: 10px;
}

.heading-container {
  /* margin: 30px 96px; */
  display: flex;
  align-items: center;
}
.heading {
  text-decoration: none;
  margin: 10px 15px;
  font-size: 25px;
  color: black;
  border: none;
  padding: 5px;
}

.heading:hover {
  background-color: #0099cc;
  color: whitesmoke;
  border-radius: 5px;
}

.logo {
  margin: 5px 20px;
  height: 100px;
}
.title {
  font-size: 30px;
  font-weight: bolder;
  margin: auto 10px;
}

.searchBar {
  background-color: lightblue;
  width: 70px;
  text-decoration: none;
  margin: 10px 15px;
  font-size: 20px;
  color: black;
  border: none;
}
.log-sign-heading {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-left: 60px;
}
.card-background-img {
  width: 100%;
  height: 600px;
}
.card-container {
  position: relative;
}
.card-heading {
  position: absolute;
  right: 50px;
  top: 5px;
  font-size: 40px;
  color: #ed1c24;
  font-family: "Khula", Sans-serif;
  font-weight: 700;
}
.card-description {
  position: absolute;
  right: 50px;
  top: 100px;
  font-size: 25px;
  text-align: end;
  font-weight: bolder;
}
.card-btn {
  position: absolute;
  top: 350px;
  right: 100px;
  border: none;
  font-size: 27px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #ed1c24;
  color: #fff;
  cursor: pointer;
}
.video-map-container{
  padding: 20px 50px;
  margin-bottom: 200px;
}
.video-heading{
  text-align: center;
  font-size: 40px;
}
.home-video{
  height: 500px;
  width: 900px;
  margin: 5px 250px;
  
}
.blur-background-container{
  position: relative;
  background-color: black;
  width: 100%;
  height: 180px;
  margin-bottom:50px;
}
.blur-background-logo-1{
  position: absolute;
  right:1180px;
  top: -50px;
  color: white;
}
.blur-background-logo-heading{
   font-weight: bold;
   font-size: 30px;
   margin-top: 5px;
   

}
.blur-background-logo-description{
  font-size: 20px;
  margin-top: 5px ;
}
.blur-background-logo-2{
  position: absolute;
  right:870px;
  top: -50px;
}
.blur-background-logo-3{
  position: absolute;
  right:550px;
  top: -50px;
}
.blur-background-logo-4{
  position: absolute;
  right:200px;
  top: -50px;
}

.map{
  margin-left: 370px;
  width: 800px;
  
}
